* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}

.card {
  width: 600px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 12px;
}

.img {
  width: 576px;
}

.text-container {
  text-align: center;
  margin: 0 24px 32px;
}